@{
    ViewBag.Title = "Knockout";
}

<h2>Knockout</h2>
<input type="text" placeholder="Search" data-bind="event: { keyup: onFilter }" />
<table>
    <thead>
        <tr>
            <th data-bind="click: onSort" data-prop="ID" style="cursor:pointer;" >ID</th>
            <th data-bind="click: onSort" data-prop="Company" style="cursor:pointer;">Company</th>
            <th data-bind="click: onSort" data-prop="Name" style="cursor:pointer;">Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: tableData">
        <tr>
            <td data-bind="text: ID"></td>
            <td data-bind="text: Company"></td>
            <td data-bind="text: Name"></td>
        </tr>
    </tbody>
</table>
Page Size:
<select data-bind="options: [2,4,5], value: pageSize"></select>
Pages:
<select data-bind="options: pages, value: currentPage"></select>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/Knockout/knockout.index.js")
}



