@{
    ViewBag.Title = "ServerSide";
}

<h2>ServerSide</h2>
<label>Name</label>
<input type="text" data-bind="value: table.payload.name" />
<button data-bind="click: search">Search</button>
<label>Sort by Age</label>
<select data-bind="options: ['asc','desc'], value: table.sortValue.direction"></select>
<button data-bind="click: sort">Sort</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>StartDate</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: table.data">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Position"></td>
            <td data-bind="text: Office"></td>
            <td data-bind="text: Age"></td>
            <td data-bind="text: StartDate"></td>
        </tr>
    </tbody>
</table>

@Html.Hidden("hidPostUrl", Url.Action("ServerSidePaging"))

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/Knockout/knockout-server-side.js")
}