@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Lab</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/knockout")
</head>
<body>
    <div>
        <h3>Normal Data Bind</h3>
        <table id="normal">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: data">
                <tr>
                    <td data-bind="text: ID"></td>
                    <td data-bind="text: Company"></td>
                    <td data-bind="text: Name"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Simple Data Binding</h3>
        <table data-bind="table: data"></table>
    </div>

    <div>
        <h3>Template Data Binding</h3>
        <input id="filterSearch" type="text" placeholder="Search" />
        <table data-bind="table: { theadTemplate: 'thead-template', tbodyTemplate: 'tbody-template', headData: {}, bodyData: data, filter: '#filterSearch' }"></table>
    </div>    

    <script type="text/html" id="thead-template">
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Name</th>
        </tr>
    </script>

    <script type="text/html" id="tbody-template">
        <tr>
            <td data-bind="text: ID"></td>
            <td data-bind="text: Company"></td>
            <td data-bind="text: Name"></td>
        </tr>
    </script>

    @Scripts.Render("~/bundles/lab")
</body>
</html>
